.header-home {
  background-color: #f8f9fa;
  padding: 20px;
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 20px;
  text-align: center;
}

.actions-filter-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
  gap: 15px;
}

.actions-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.2rem;
}

.filters-container {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
}

.filter-btns {
  display: flex;
  justify-content: center;
}

.filter-btn {
  margin-left: 0.4rem;
  cursor: pointer;
}

.table-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  margin-top: 1rem;
}

.table-actions {
  display: flex;
  gap: 0.3rem;
}

.table-actions i {
  cursor: pointer;
}

.pagination-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.pagination-controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.page-info {
  margin: 0 0.5rem;
  font-weight: 500;
}

.botao-paginacao[disabled],
.botao-paginacao:disabled {
  pointer-events: auto;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .cards-view .card-cliente {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
  }

  .cards-view .card-body {
    padding-bottom: 0;
  }

  .cards-view .list-group-item {
    border: none;
    padding-left: 0;
    padding-right: 0;
  }

  .cards-view .list-group-item:last-child {
    border-bottom: none;
  }

  .cards-view .card-footer {
    background-color: #f8f9fa;
    border-top: 1px solid rgba(0,0,0,.125);
    padding: 0.75rem 1.25rem;
  }
}
