.table-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px;
}

.actions-container {
  display: flex;
  flex-direction: row;
  gap: 4px;
  padding: 6px;
}

.table-actions {
  display: flex;
  gap: 6px;
}

.table-actions i {
  cursor: pointer;
}
