.actions-filter-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 0.4rem;
}

.actions-container {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
}

.filters-container {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
}

.filter-btn {
  margin-left: 0.4rem;
  cursor: pointer;
}

.table-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  margin-top: 1rem;
}

.table-actions {
  display: flex;
  gap: 0.3rem;
}

.table-actions i {
  cursor: pointer;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.pagination-controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.page-info {
  margin: 0 0.5rem;
  font-weight: 500;
}

.botao-paginacao[disabled],
.botao-paginacao:disabled {
  pointer-events: auto;
  cursor: not-allowed;
}
