<header class="header-home">
  <h2>Clientes e Endereços</h2>
</header>
<div class="actions-filter-container">
  <div class="actions-container">
    <div>
      <button type="button" class="btn btn-sm btn-primary">
        Novo
        <i class="bi bi-plus-lg"></i>
      </button>
    </div>
    <div>
      <button type="button" class="btn btn-sm btn-success">
        Importar .xlsx
        <i class="bi bi-file-earmark-arrow-up"></i>
      </button>
    </div>
    <div>
      <button type="button" class="btn btn-sm btn-success">
        Exportar .xlsx
        <i class="bi bi-file-earmark-arrow-down"></i>
      </button>
    </div>
    <div>
      <button type="button" class="btn btn-sm btn-danger">
        Exportar PDF
        <i class="bi bi-filetype-pdf"></i>
      </button>
    </div>
  </div>
  <div class="filters-container">
    <div>
      <input
        type="text"
        class="form-control"
        placeholder="Nome"
        [(ngModel)]="filtros.nome"
        (keyup.enter)="onFiltrarClick()"
      >
    </div>
    <div>
      <input
        type="text"
        class="form-control"
        placeholder="CPF/CNPJ"
        [(ngModel)]="filtros.cpfCnpj"
        (keyup.enter)="onFiltrarClick()"
      >
    </div>
    <div>
      <input
        type="text"
        class="form-control"
        placeholder="Cidade"
        [(ngModel)]="filtros.cidade"
        (keyup.enter)="onFiltrarClick()"
      >
    </div>
    <div class="filter-btn" (click)="onFiltrarClick()">
      <i
        class="bi bi-funnel-fill text-primary h2"
        data-bs-toggle="tooltip"
        title="Filtrar"
      >
      </i>
    </div>
    <div class="filter-btn" (click)="onLimparClick()">
      <i
        class="bi bi-x-circle text-danger h2"
        data-bs-toggle="tooltip"
        title="Limpar Filtros"
      >
      </i>
    </div>
  </div>
</div>
<div class="table-container card">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">NPF/CNPJ</th>
      <th scope="col">Data de nascimento/criação</th>
      <th scope="col">Endereço Principal</th>
      <th scope="col">Status</th>
      <th scope="col">Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let cliente of listaClientes">
      <th scope="row">{{ cliente.id }}</th>
      <th>{{ getNomeCliente(cliente) }}</th>
      <td>{{ getDocumentoCliente(cliente) }}</td>
      <td>{{ getDataCliente(cliente) }}</td>
      <td>{{ getEnderecoPrincipal(cliente.enderecos) }}</td>
      <td>
          <span class="badge" [ngClass]="cliente.ativo ? 'text-bg-success' : 'text-bg-danger'">
            {{ cliente.ativo ? 'Ativo' : 'Inativo' }}
          </span>
      </td>
      <td class="table-actions">
        <i class="bi bi-trash-fill text-danger" data-bs-toggle="tooltip" title="Excluir"></i>
        <i class="bi bi-pencil-fill text-primary" data-bs-toggle="tooltip" title="Editar"></i>
        <i class="bi bi-download" data-bs-toggle="tooltip" title="Baixar Relatório"></i>
      </td>
    </tr>

    <!--loading-->
    <tr *ngIf="isLoading">
      <td colspan="7" class="text-center">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Carregando</span>
        </div>
      </td>
    </tr>
    <!--resposta vazia-->
    <tr *ngIf="!isLoading && listaClientes.length === 0">
      <td colspan="7" class="text-center">Nenhum cliente encontrado</td>
    </tr>
    </tbody>
  </table>
</div>
<div class="pagination-container" *ngIf="!isLoading && totalPaginas > 0">
  <span class="total-registros">
    Total de registros {{ totalElementos }}
  </span>
  <div class="pagination-controls" *ngIf="!isLoading && totalPaginas > 0">
    <button
      class="btn btn-sm btn-dark botao-paginacao"
      (click)="paginaAnterior()"
      [disabled]="paginaAtual === 0"
    >
      <i class="bi bi-chevron-left"></i>
      Anterior
    </button>

    <span class="page-info">
      Página {{ paginaAtual + 1 }} de {{ totalPaginas }}
    </span>

    <button
      class="btn btn-sm btn-dark botao-paginacao"
      (click)="proximaPagina()"
      [disabled]="paginaAtual >= totalPaginas - 1"
    >
      Próxima
      <i class="bi bi-chevron-right"></i>
    </button>
  </div>
</div>
