<header class="header-home">
  <h2>Clientes e Endereços</h2>
</header>
<div class="actions-filter-container">
  <div class="actions-container">
    <div><button type="button" class="btn btn-primary">Novo</button></div>
    <div><button type="button" class="btn btn-success">Exportar .xlsx</button></div>
    <div><button type="button" class="btn btn-danger">Exportar PDF</button></div>
  </div>
  <div class="filters-container">
    <div><input type="text" class="form-control" id="nome" placeholder="Nome"></div>
    <div><input type="text" class="form-control" id="cpfCnpj" placeholder="CPF/CNPJ"></div>
    <div><input type="text" class="form-control" id="cidade" placeholder="Cidade"></div>
    <div class="filter-btn"><i class="bi bi-funnel-fill text-primary h2"></i></div>
  </div>
</div>
<div class="table-container card">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">NPF/CNPJ</th>
      <th scope="col">Data de nascimento/criação</th>
      <th scope="col">Endereço Principal</th>
      <th scope="col">Status</th>
      <th scope="col">Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <th>João Pedro</th>
      <td>006.107.581-79</td>
      <td>27/08/2000</td>
      <td>Rua PP7 Qd 10 Lt 29</td>
      <td>Ativo</td>
      <td class="table-actions">
        <i class="bi bi-trash-fill text-danger"></i>
        <i class="bi bi-pencil-fill text-primary"></i>
        <i class="bi bi-download"></i>
      </td>
    </tr>
    </tbody>
  </table>
</div>
